@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --font-main: "Inter", sans-serif;
  --font-size: 14px;

  --weight-normal: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  --color-primary: hsl(75, 94%, 57%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 20%);
  --color-dark-rey: hsl(0, 0%, 12%);
  --color-off-black: hsl(0, 0%, 8%);

  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body{
  padding: 20px;
  background-color: var(--color-off-black);
}

p{
  font-size: var(--font-size);
}

/* Colors */

.color-primary{
  color: var(--color-primary);
}

.color-white{
  color: var(--color-white);
}

.color-grey{
  color: var(--color-grey);
}

.color-dark-grey{
  color: var(--color-dark-rey);
}

.color-off-black{
  color: var(--color-off-black);
}

/* Weight */
.normal{
  font-weight: var(--weight-normal);
}

.semibold{
  font-weight: var(--weight-semibold);
}

.bold{
  font-weight: var(--weight-bold);
}

/* Display */
.grid{
  display: grid;
}

/* Place */

.p-items-center{
  place-items: center;
}

/* Gap */
.gap-1 {
  gap: var(--spacing-1);
}

.gap-2 {
  gap: var(--spacing-2);
}

.gap-3 {
  gap: var(--spacing-3);
}

.gap-4{
  gap: var(--spacing-4);
}

.gap-5{
  gap: var(--spacing-5);
}

.gap-6{
  gap: var(--spacing-6);
}

.gap-7{
  gap: var(--spacing-7);
}

/* Text */
.nowarp{
  text-wrap: nowrap;
}